.main-content{
    background-color: $primary-white-b;
    overflow: hidden;
    color: $secondary-black-b;
}

.section-content{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0;
    padding: 10px 50px;
    margin:0 auto ;
    overflow: hidden;
}

.section-content div{
    flex: 1;
}

.description h2{
    margin-bottom: 24px;
    font-family: 'open sans', sans-serif;
    width: 329px;
    
}

.disc{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $secondary-black-b;
    height: 134px;
    width: 100%;
}

#reverse{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    margin-left: 0 auto;
}

#reverse2{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}

#reverse2 h2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0 auto;
    width: 330px;
    height: 80px;
}

.description p{
    width: 802px;
}



@media screen and (max-width: 768px) {
    .section-content{
        flex-direction: row;

        img{
            max-width: 379px;
            max-height: 252px;
        }

    }

    .bg-home::before{
        background-position: 30%;
    
    }

    #reverse{
        flex-direction: column;
    }

    .description{
            
        h2{
            font-size: 24px;
            max-width: 370px;
            max-height: 99px;
            margin-bottom: 44px;
        }

        p{
            font-size: 16px;
            width: 378px;
            height: 88px;
            margin-bottom: 24px;
        }
    }

    
}

@media screen and (max-width: 1380px) {
    .section-content{
        flex: 1;
        flex-wrap: wrap;
        flex-direction: row;
        display: flex;
    }

}   